$baseVars: (
    "background": black,
    "color": whitesmoke,
    "font": sans-serif,
    "accent": #101010
);

$accentVars: (
    "buttonBackground": #CB9DF0,
    "grey": grey
);

$listVars: (
    "background": #111111
);