*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  background: rgb(56, 1, 56);
  color: black;
  font-size: 2rem;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 100vh;
}

.pokedex {
  background: white;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pokedex__search {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokedex__search--input {
  border-radius: 2rem;
  padding: 1rem 2rem;
  width: 40rem;
  border: none;
  background: rgba(56, 1, 56, 0.1);
  font-size: 100%;
}
.pokedex__search--input:focus {
  outline: none;
}
.pokedex__wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 90%;
}
.pokedex__info {
  width: 25%;
  height: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.pokedex__info--figure {
  width: 28rem;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid rgb(204, 202, 202);
  border-radius: 4rem;
}
.pokedex__info--figure-image {
  width: 80%;
  object-fit: contain;
}
.pokedex__info--wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.pokedex__info--names {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.pokedex__info--names-name {
  font-size: 160%;
  text-transform: capitalize;
}
.pokedex__info--types {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.pokedex__info--type {
  padding: 0.6rem 2rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.pokedex__info--type-normal {
  background: #B59F78;
}
.pokedex__info--type-fighting {
  background: #003161;
}
.pokedex__info--type-flying {
  background: #7AB2D3;
}
.pokedex__info--type-poison {
  background: #3B1E54;
}
.pokedex__info--type-ground {
  background: #493628;
}
.pokedex__info--type-rock {
  background: #D8D2C2;
}
.pokedex__info--type-bug {
  background: #117554;
}
.pokedex__info--type-ghost {
  background: #D2E0FB;
}
.pokedex__info--type-steel {
  background: #3C3D37;
}
.pokedex__info--type-fire {
  background: #FF6600;
}
.pokedex__info--type-water {
  background: #3A6D8C;
}
.pokedex__info--type-grass {
  background: #626F47;
}
.pokedex__info--type-electric {
  background: #257180;
}
.pokedex__info--type-psychic {
  background: #605678;
}
.pokedex__info--type-ice {
  background: #A2D2DF;
}
.pokedex__info--type-dragon {
  background: #800000;
}
.pokedex__info--type-dark {
  background: #181C14;
}
.pokedex__info--type-fairy {
  background: #C63C51;
}
.pokedex__info--type-stellar {
  background: #8C3061;
}
.pokedex__info--type-unknown {
  background: #A0153E;
}
.pokedex__info--description {
  font-size: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 4rem;
}
.pokedex__stats {
  width: 35%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
}
.pokedex__stats--list {
  height: 70%;
  width: 100%;
}
.pokedex__stats--item {
  width: 100%;
  border-bottom: 0.1rem solid rgb(204, 202, 202);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.pokedex__moves {
  width: 40%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
}
.pokedex__moves--list {
  overflow: hidden;
  overflow-y: scroll;
  height: 70%;
  width: 100%;
}
.pokedex__moves--list::-webkit-scrollbar {
  background: none;
}
.pokedex__moves--list::-webkit-scrollbar-thumb {
  background: rgb(204, 202, 202);
  border-radius: 1rem;
}
.pokedex__moves--item {
  width: 100%;
  border-bottom: 0.1rem solid rgb(204, 202, 202);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.pokedex__moves--item-move {
  width: 60%;
}
.pokedex__moves--item-number {
  width: 20%;
}
.pokedex__moves--item-type {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 0.4rem;
  color: white;
}

/*# sourceMappingURL=style.css.map */
