@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.card{
    background: map-get(variables.$baseVars, "card");
    width: 40rem;
    @include mixins.flexBox;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.2);
    transition: 0.4s all;

    &:hover{
        cursor: pointer;
        box-shadow: 0 0 1rem 0.2rem rgba(114, 107, 107, 0.2);
        transform: scale(1.02);
    }

    &__title{
        font-size: 300%;
    }

    &__image{
        width: 100%;
        object-fit: contain;
    }

    &__text{
        font-size: 150%;
    }
}