$baseVars: (
    "background": #9393cf,
    "color": black,
    "font": sans-serif
);

$weatherVars: (
    "background": #9393cf,
    "cloud": white
);

$darkmodeVars: (
    "background": #070F2B,
    "color": white,
    "weatherBackground": #070F2B
);