@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.pokedex{
    background: map-get(variables.$pokedexVars, "background");
    width: 100%;
    height: 100%;
    box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    @include mixins.flexBox;
    flex-direction: column;

    &__search{
        width: 100%;
        height: 10%;
        @include mixins.flexBox;

        &--input{
            border-radius: 2rem;
            padding: 1rem 2rem;
            width: 40rem;
            border: none;
            background: rgba(map-get(variables.$baseVars, "background"), 0.1);
            font-size: 100%;

            &:focus{
                outline: none;
            }
        }
    }
    &__wrapper{
        display: flex;
        justify-content: center;
        align-items: start;
        width: 100%;
        height: 90%;
    }

    &__info{
        width: 25%;
        height: 100%;
        padding: 2rem;
        @include mixins.flexBox;
        flex-direction: column;
        gap: 2rem;

        &--figure{
            width: 28rem;
            aspect-ratio: 1/1;
            @include mixins.flexBox;
            border: 0.1rem solid map-get(variables.$pokedexVars, "grey");
            border-radius: 4rem;

            &-image{
                width: 80%;
                object-fit: contain;
            }
        }
        &--wrapper{
            width: 100%;
            @include mixins.flexBox;
            flex-direction: column;
            gap: 1rem;
        }
        &--name{
            width: 100%;
            @include mixins.flexBox;
            font-size: 160%;
            text-transform: capitalize;
        }
        &--types{
            @include mixins.flexBox;
            gap: 1rem;
        }
        &--type{
            padding: 0.6rem 2rem;
            border-radius: 2rem;
            @include mixins.flexBox;
            color: map-get(variables.$typesVars, "color");

            &-normal{
                background: map-get(variables.$typesVars, "normal");
            }
            &-fighting{
                background: map-get(variables.$typesVars, "fighting");
            }
            &-flying{
                background: map-get(variables.$typesVars, "flying");
            }
            &-poison{
                background: map-get(variables.$typesVars, "poison");
            }
            &-ground{
                background: map-get(variables.$typesVars, "ground");
            }
            &-rock{
                background: map-get(variables.$typesVars, "rock");
            }
            &-bug{
                background: map-get(variables.$typesVars, "bug");
            }
            &-ghost{
                background: map-get(variables.$typesVars, "ghost");
            }
            &-steel{
                background: map-get(variables.$typesVars, "steel");
            }
            &-fire{
                background: map-get(variables.$typesVars, "fire");
            }
            &-water{
                background: map-get(variables.$typesVars, "water");
            }
            &-grass{
                background: map-get(variables.$typesVars, "grass");
            }
            &-electric{
                background: map-get(variables.$typesVars, "electric");
            }
            &-psychic{
                background: map-get(variables.$typesVars, "psychic");
            }
            &-ice{
                background: map-get(variables.$typesVars, "ice");
            }
            &-dragon{
                background: map-get(variables.$typesVars, "dragon");
            }
            &-dark{
                background: map-get(variables.$typesVars, "dark");
            }
            &-fairy{
                background: map-get(variables.$typesVars, "fairy");
            }
            &-stellar{
                background: map-get(variables.$typesVars, "stellar");
            }
            &-unknown{
                background: map-get(variables.$typesVars, "unknown");
            }
        }
    }
    &__stats{
        width: 35%;
        height: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 2rem;

        &--list{
            height: 70%;
            width: 100%;
        }
        &--item{
            width: 100%;
            border-bottom: 0.1rem solid map-get(variables.$pokedexVars, "grey");
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
        }
    }
    &__moves{
        width: 40%;
        height: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 2rem;

        &--list{
            overflow: hidden;
            overflow-y: scroll;
            height: 70%;
            width: 100%;

            &::-webkit-scrollbar{
                background: none;

                &-thumb{
                    background: map-get(variables.$pokedexVars, "grey");
                    border-radius: 1rem;
                }
            }
        }
        &--item{
            width: 100%;
            border-bottom: 0.1rem solid map-get(variables.$pokedexVars, "grey");
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
        }
    }
}