@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.heading{
    background: map-get(variables.$baseVars, "first");
    color: map-get(variables.$baseVars, "second");
    height: 40rem;
    @include mixins.flexBox;
    font-size: 200%;
}