@use "../../abstracts/variables";
@use "../../abstracts/mixins";

.playlist{
    background: map-get(variables.$listVars, "background");
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    min-height: 100vh;
    margin-bottom: 5rem;

    &__heading{
        width: 100%;
        height: 28rem;
        overflow: hidden;
        position: relative;

        &--background{
            @include mixins.imageBackground;
        }

        &--wrapper{
            position: absolute;
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 4rem;
            top: 0;
            width: 100%;
            height: 100%;
            padding: 0 4rem;
        }
        &--cover{
            width: 23rem;
            aspect-ratio: 1/1;
            object-fit: cover;
            box-shadow: 0 0.4rem 2rem 0.1rem rgba(0, 0, 0, 0.4);
            transition: 0.4s all;

            &:hover{
                cursor: pointer;
                transform: scale(1.02);
            }
        }
        &--info{
            height: 100%;
            padding: 4rem 0;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: start;
        }
        &--release{
            font-size: 80%;
            font-weight: 600;
        }
        &--title{
            font-size: 5vw;
            font-weight: 800;
            white-space: nowrap;
        }
        &--creator{
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 0.8rem;
            &-image{
                width: 3rem;
                aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: 50%;
            }
            &-name{
                font-size: 80%;
            }
            &-middledot{
                font-size: 120%;
                font-weight: 600;
                color: map-get(variables.$accentVars, "grey");
            }
            &-length{
                font-size: 80%;
                color: map-get(variables.$accentVars, "grey");
                font-weight: 600;
            }
        }
    }
    &__controls{
        width: 100%;
        height: 10rem;
        padding: 2rem 4rem;

        &--play{
            background: map-get(variables.$accentVars, "buttonBackground");
            border: none;
            width: 7rem;
            aspect-ratio: 1/1;
            border-radius: 50%;
            font-size: 120%;
            @include mixins.flexBox;
        }
    }
    &__list{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 2rem;
    }
    &__song{
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 0.8rem;
        border-radius: 0.4rem;

        &:hover{
            background: lighten(map-get(variables.$listVars, "background"), 3%);
        }
        &:hover &--number-text{
            background: lighten(map-get(variables.$listVars, "background"), 3%);
        }


        &--items{
            color: map-get(variables.$accentVars, "grey");
            font-size: 85%;
            border-bottom: 0.1rem solid rgba(map-get(variables.$baseVars, "color"), 0.1);
            margin-bottom: 1rem;

            &:hover{
                background: map-get(variables.$listVars, "background");
            }
        }
        &--number{
            width: 5%;
            height: 100%;
            @include mixins.flexBox;

            &:hover &-text{
                cursor: pointer;
                opacity: 0;
                z-index: -1000;
            }

            &-text{
                color: map-get(variables.$accentVars, "grey");
                font-weight: 600;
                font-size: 85%;
                position: absolute;
                background: map-get(variables.$listVars, "background");
                padding: 1rem;
            }
            &-play{
                background: none;
                border: none;
                color: map-get(variables.$baseVars, "color");

                &-playing{
                    background: map-get(variables.$listVars, "background");
                    border: none;
                    color: map-get(variables.$accentVars, "buttonBackground");
                    position: absolute;
                }
            }
        }
        &--title{
            width: 55%;
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 1rem;
            &-image{
                width: 5rem;
                aspect-ratio: 1/1;
                object-fit: cover;
            }
            &-name{
                font-size: 80%;

                &:hover{
                    cursor: pointer;
                }

                &-playing{
                    font-size: 80%;
                    color: map-get(variables.$accentVars, "buttonBackground");
                }
            }
            &-artist{
                font-size: 75%;
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 0.4rem;
                
                &:hover{
                    cursor: pointer;
                    color: map-get(variables.$baseVars, "color");
                    text-decoration: underline;
                }
            }
        }
        &--album{
            width: 20%;
            display: flex;
            justify-content: start;
            align-items: center;

            &-link{
                text-decoration: none;
                font-size: 85%;
                color: map-get(variables.$accentVars, "grey");

                &:hover{
                    cursor: pointer;
                    color: map-get(variables.$baseVars, "color");
                    text-decoration: underline;
                }
            }

        }
        &--duration{
            width: 20%;
            @include mixins.flexBox;
            
            &-time{
                font-size: 85%;
                color: map-get(variables.$accentVars, "grey");
            }
        }
    }
}